body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.bodybox {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.bodybox p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 20px;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.qa-section {
    width: 80%;
    margin: 0 auto;
}

.question {
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline:none;
    font-size: 18px;
    transition: 0.4s;
}

.question:hover {
    background-color: #ddd;
}

.answer {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f9f9f9;
}

.answer p {
    margin: 0;
    padding: 18px;
}
.container1 {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #888888;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
}

.container1 h1{
    color: #000000;
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #000000;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: #dadada;
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
 
}


input[type="submit"] {
    background-color: #000000;
    color: white;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 20px rgba(1, 0, 0, 0.5);
}

input[type="submit"]:hover {
    background-color: #328336;
}

footer {
    background: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 0px;
}